<div class="container-fluid py-4">
    <div class="row mt-4">
        <div class="col-lg-12 mb-lg-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex flex-column h-100">
                                <div class="row" [formGroup]="changePasswordForm">
                                    <div class="mx-auto mb-2 px-4">
                                        <h3 class="mt-2">Change Password</h3>
                                    </div>
                                    <div class="col-lg-4 px-4 mb-2">
                                        <div class="form-group">
                                            <h6>Old Password</h6>
                                            <div class="position-relative">
                                                <a (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                                                    [attr.aria-pressed]="hide1">
                                                    <span class="icon-eye">
                                                        <span class="material-icons cursor-pointer">{{hide1 ?
                                                            'visibility' :
                                                            'visibility_off'}}</span>
                                                    </span>
                                                </a>
                                                <span class="icon-position"><i class="fa fa-lock"></i></span>
                                                <input class="multisteps-form__input form-control w-100"
                                                    [type]="hide1 ? 'text' : 'password'" formControlName="oldpwd"
                                                    placeholder="Enter Old Password">
                                                <div *ngIf="submittedChangePasswordData && fChangePasswordData.oldpwd.errors"
                                                    class="text-right">
                                                    <div *ngIf="fChangePasswordData.oldpwd.errors.required">
                                                        <span class="error_msg">Old Password is Required.</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-4 px-4 mb-2">
                                        <div class="form-group">
                                            <h6>New Password</h6>
                                            <div class="position-relative">
                                                <a (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                                                    [attr.aria-pressed]="hide2">
                                                    <span class="icon-eye">
                                                        <span class="material-icons cursor-pointer">{{hide2 ?
                                                            'visibility' :
                                                            'visibility_off'}}</span>
                                                    </span>
                                                </a>
                                                <span class="icon-position"><i class="fa fa-lock"></i></span>
                                                <input class="multisteps-form__input form-control w-100"
                                                    [type]="hide2 ? 'text' : 'password'" formControlName="newpwd"
                                                    placeholder="Enter New Password">
                                                <div *ngIf="submittedChangePasswordData && fChangePasswordData.newpwd.errors"
                                                    class="text-right">
                                                    <div *ngIf="fChangePasswordData.newpwd.errors.required">
                                                        <span class="error_msg">New Password is Required.</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-4 px-4 mb-2">
                                        <div class="form-group">
                                            <h6>Confirm Password</h6>
                                            <div class="position-relative">
                                                <a (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'"
                                                    [attr.aria-pressed]="hide3">
                                                    <span class="icon-eye">
                                                        <span class="material-icons cursor-pointer">{{hide3 ?
                                                            'visibility' :
                                                            'visibility_off'}}</span>
                                                    </span>
                                                </a>
                                                <span class="icon-position"><i class="fa fa-lock"></i></span>
                                                <input class="multisteps-form__input form-control w-100"
                                                    [type]="hide3 ? 'text' : 'password'" formControlName="confirmPwd"
                                                    placeholder="Enter Confirm Password">
                                                <div *ngIf="submittedChangePasswordData && fChangePasswordData.confirmPwd.errors"
                                                    class="text-right">
                                                    <div *ngIf="fChangePasswordData.confirmPwd.errors?.required"
                                                        class="error_msg">Confirm Password is required. </div>
                                                    <div *ngIf="fChangePasswordData.confirmPwd.errors?.mustMatch"
                                                        class="error_msg">New Passwords must match</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- <div class="text-center px-4">
                                        <button type="button" class="btn bg-gradient-dark w-100 mt-4 mb-0"
                                            (click)="updateChangepwd()">Change
                                            Password</button>
                                    </div> -->
                                    <!-- <div class="modal-footer"> -->
                                    <div class="w-100">
                                        <div class="text-right" style="text-align: right;">
                                            <button type="button" (click)="updateChangepwd()"
                                                class="btn bg-gradient-dark my-2">Change Password</button>
                                        </div>
                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>