<div class="">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="mb-3 d-flex" style="justify-content: space-between;">
                <span class="icon-position"><i class="fa fa-search"></i></span>
                <input type="text" style="width:30%" class="searchTerm form-control"
                    (input)="search($event.target.value)" placeholder="Type here...">
                <!-- <div class="right-container" *ngIf="this.isCreated == true">
                    <button class="btn bg-gradient-dark mb-0 add-btn right-container-button"
                        routerLink="/admin/assets-management/add-new-supplier-purchase-master">
                        <span class="long-text">Add New</span>
                        <i class="fas fa-plus" aria-hidden="true"></i></button>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive mb-2">
                            <table class="table product-master-tabl" matSort matSortActive="employeeName"
                                matSortDirection="asc" matSortDisableClear="true" (matSortChange)="sortingList($event)">
                                <thead>
                                    <tr>
                                        <th class="col-lg-1 theme-color">No.</th>
                                        <th class="col-lg-4 theme-color" mat-sort-header="employeeName">Employee Name
                                        </th>
                                        <th class="col-lg-2 theme-color">Assign Date</th>
                                        <th class="col-lg-2 theme-color">Revert Date</th>
                                        <th class="col-lg-3 theme-color">Reverted By
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let assetsProductHistoryData of assetsProductHistoryList | paginate: { itemsPerPage: l, currentPage: p };let productHistoryIndex = index">
                                        <td class="text-color">
                                            {{ l * (p - 1) + productHistoryIndex +1 }}
                                        </td>
                                        <td class="text-color doc-master-tbl">
                                            {{ assetsProductHistoryData.employeeName }}
                                        </td>
                                        <td class="text-color doc-master-tbl">
                                            {{ assetsProductHistoryData.assignedAt | date : 'dd/MM/yyyy' }}
                                        </td>
                                        <td class="text-color">
                                            {{ assetsProductHistoryData.revertdAt | date : 'dd/MM/yyyy' }}
                                        </td>
                                        <td class="text-color">
                                            {{ assetsProductHistoryData.revertedBy }}
                                        </td>

                                    </tr>
                                    <tr *ngIf="noData">
                                        <td colspan="5">
                                            <h2 class="text-center mb-0">Data Not Found</h2>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="footer-pagination" *ngIf="assetsProductHistoryList?.length > l">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>