.holiday-Excel-upload {
  z-index: 1;
  opacity: 0;
  position: absolute;
}
.float-delete-button {
  float: right !important;
}
.right-container .right-container-button:hover {
  width: 165px !important;
}

.add-holiday {
  margin: 15px 15px 0 0px;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #f2f2f2;
}
