.basic-information-form {
    border: 1px solid #dedede;
  }
  .text-align-center {
    text-align: center;
  }
  
  .justify-content-between {
    justify-content: center !important;
  }
  .right-container .right-container-button:hover {
    width: 130px !important;
}

.profile-Image {
    height: 95px !important;
    width: 95px !important;
}

.add-template-form .form-control {
    background-color: #ffffff !important;
}