<nav class="navbar bg-white navbar-main navbar-expand-lg px-0 mx-4 shadow border-radius-xl mt-2 sticky-top"
  id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">
    <div class="nav-item d-xl-none pe-3 d-flex align-items-center">
      <a href="javascript:;" class="nav-link text-body p-0" (click)="sidebarOpen()" id="iconNavbarSidenav">
        <div class="sidenav-toggler-inner">
          <i class="sidenav-toggler-line"></i>
          <i class="sidenav-toggler-line"></i>
          <i class="sidenav-toggler-line"></i>
        </div>
      </a>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm">
          <a class="breadcrumb-hover" routerLink="admin/dashboard">Home</a>
        </li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">
          <a class="breadcrumb-hover" [routerLink]="getTitle().pastUrl">{{getTitle().pastLinkName}}
          </a><span class="breadcrumb-hover cursor-pointer">{{getTitle().currentPageName}}</span>
        </li>
      </ol>
      <h6 class="font-weight-bolder mb-0">{{getTitle().currentPageName}}</h6>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center search-input">
        <!-- <div class="input-group">
          <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
          <input type="text" class="form-control" placeholder="Type here...">
        </div> -->
      </div>
      <ul class="navbar-nav  justify-content-end">
        <li class="nav-item dropdown pr-20  px-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0 d-flex align-items-center" data-toggle="dropdown">
            <!-- <i class="fa fa-user mr-10 user-icon"></i> -->
            <img [src]="profileImg" onerror="this.src ='../assets/img/no-image-available.jpg'" class="user-pic">
            <span class="d-sm-block d-none user-name">{{userName}}</span>
          </a>
          <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4">
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" (click)="profile()">
                <div class="d-flex py-1">
                  <div class="my-auto">
                    <i class="fa fa-user avatar avatar-sm bg-gradient-dark me-3"></i>
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <span class="font-weight-bold">Profile</span>
                  </div>
                </div>
              </a>
            </li>
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" (click)="changePassword()">
                <div class="d-flex py-1">
                  <div class="my-auto">
                    <i class="fa fa-lock avatar avatar-sm bg-gradient-dark  me-3"></i>
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <span class="font-weight-bold">Change Password</span>
                  </div>
                </div>
              </a>
            </li>
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" (click)="logout()">
                <div class="d-flex py-1">
                  <div class="my-auto">
                    <i class="fa fa-sign-out avatar avatar-sm bg-gradient-dark  me-3"></i>
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <span class="font-weight-bold">Logout</span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>